body {
     height: 100%;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

#map {
     height: 90%;
     position: absolute;
     width: 100%;
     float: left;
}
/*
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}*/

form {
  padding: 15px;
}
h1 {
  text-align: center;
}

.btn {
  margin: 3px;
}

.titleBox {
  height: 10%;
}

.legend {
  /*margin: auto;*/
  height: 15%;
  width: 100%;
  top: 85%;
  background-color: white;
  position: fixed;
  text-align: center;
  padding: 10px 0 0 0;
  overflow: auto;
}
